.rnd-planet {
    width: 575px;
    margin: 0 auto; 
    margin-top: 25px;
    padding: 20px 0;
    border: none;
    border-radius: 20px;
    background-color: #696969;
    box-shadow: 0 0 5px #696969;;
}

.planet-img {
    width: 230px;
    border-radius: 20px;
    margin-right: 25px;
    box-shadow: 0 0 12px black;
}

.rnd-planet-title {
    font-size: 30px;
    text-align: center;
}

.list-group {
    margin-top: 20px;
}

.list-group .list-group-item {
    margin-left: 15px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 4px black;
    border: none;
    text-align: center;
}

