.links {
    width: 450px;
    margin-right: 10px;
}   

.header {
    margin-top: 25px;
}

.header-title {
    text-shadow: 0 -3px 7px wheat;
    font-weight: bold;
    letter-spacing: 1.8px;
    color: white;
}

.header-title:hover {
    text-shadow: 0 10px 15px wheat;
}

a:hover{
    text-decoration: none;
}

.links a {
    font-size: 20px;
    text-decoration: none;
}

.links a:hover {
    color:yellow;
    text-shadow: 0 10px 15px wheat;
}



