.toggle-btn {
    display: block;
    height: 45px;
    width: 215px;
    margin: 0 auto;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    background-color:gold;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1.05px;
}
